@model PRJ_VETERINARIA.DataAccessLayer.Models.Atencion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Atencion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdMascota" class="control-label"></label>
                <select asp-for="IdMascota" class ="form-control" asp-items="ViewBag.IdMascota"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdVeterinario" class="control-label"></label>
                <select asp-for="IdVeterinario" class ="form-control" asp-items="ViewBag.IdVeterinario"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdGrupo" class="control-label"></label>
                <select asp-for="IdGrupo" class ="form-control" asp-items="ViewBag.IdGrupo"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaHoraFin" class="control-label"></label>
                <input asp-for="FechaHoraFin" class="form-control" />
                <span asp-validation-for="FechaHoraFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoAtencion" class="control-label"></label>
                <input asp-for="TipoAtencion" class="form-control" />
                <span asp-validation-for="TipoAtencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoConsulta" class="control-label"></label>
                <input asp-for="MotivoConsulta" class="form-control" />
                <span asp-validation-for="MotivoConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sintomas" class="control-label"></label>
                <input asp-for="Sintomas" class="form-control" />
                <span asp-validation-for="Sintomas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamenFisico" class="control-label"></label>
                <input asp-for="ExamenFisico" class="form-control" />
                <span asp-validation-for="ExamenFisico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label"></label>
                <input asp-for="Diagnostico" class="form-control" />
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tratamiento" class="control-label"></label>
                <input asp-for="Tratamiento" class="form-control" />
                <span asp-validation-for="Tratamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recomendaciones" class="control-label"></label>
                <input asp-for="Recomendaciones" class="form-control" />
                <span asp-validation-for="Recomendaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PesoAtencion" class="control-label"></label>
                <input asp-for="PesoAtencion" class="form-control" />
                <span asp-validation-for="PesoAtencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperatura" class="control-label"></label>
                <input asp-for="Temperatura" class="form-control" />
                <span asp-validation-for="Temperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrecuenciaCardiaca" class="control-label"></label>
                <input asp-for="FrecuenciaCardiaca" class="form-control" />
                <span asp-validation-for="FrecuenciaCardiaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrecuenciaRespiratoria" class="control-label"></label>
                <input asp-for="FrecuenciaRespiratoria" class="form-control" />
                <span asp-validation-for="FrecuenciaRespiratoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
